body {
    background-color:      black;
    color:                 yellow;
    margin:                0;
    font-family:           'Noto Sans', sans-serif;
  }
  
    .navbar {
      background-color:     lightgrey;
      overflow:             hidden;
      text-align:           center;
  }
  
  
      .navbar__btn {
        float:              left;
        padding:            28px 32px;
        font-size:          17px;
      }
  
  
      .navbar__btn--menu {
        background-color:   orange;
        color:              #f2f2f2;
      }

      .navbar__btn--menu:hover {
        background-color:aqua;
        color: black;
      }
  
      .navbar__btn--info {
        background-color:   #f2f2f2;
        color:              blue;
      }

      .navbar__btn--info:hover {
        background-color: black;
        color: white;
      }

      .navbar__btn--success {
        background-color: lightgreen;
        color: black;
      }

      .navbar__btn--success:hover {
        background-color:goldenrod;
        color:black;
      }
  
      .navbar__btn--logout {
        float:              right;
        font-weight:        bold;
        color:              black;
        background-color:   red;
      }

      .navbar__btn--logout:hover {
        background-color: orangered;
        color: white;
      }
  
    .main-title {
      display:              block;
      margin:               0.67em 0 0.67em 0;
      font-weight:          bold;
      font-size:            50px;
      font-family:          "Raleway", sans-serif;
      text-align:           center;
    }
  
  .text {
    width:                  90%;
    margin:                 4rem auto;
  }
  
  .text--highlighted {
    font-size:              1.7rem;
    letter-spacing:         2px;
  }
  
  .text--small {
    font-size:              16px;
    text-transform:         uppercase;
    background-color:aquamarine;
    color:black;
    text-align: center;
  }
  
  iframe {
    width: 60%;
    height: 40%;
    border: 2px solid lightgreen;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color:aliceblue;
  }

  a {
    color:azure;
    text-align: center;
    display: block;
  }

  a:hover {
    color:aquamarine;
  }